.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.nav {
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  font-weight: 700;

  &_active {
    color: #2d23c7;
    text-decoration: underline;
    pointer-events: none;
  }
}
