@if (film(); as film) {
  <div class="card" [class.favorite]="film.isFavorite" [routerLink]="[film.id]">
    <img class="card__image" [src]="film.posterUrl" [alt]="film.title" />
    <div class="card__content">
      <h3 class="card__title">{{ film.title }}</h3>
      <div class="card__about">
        <p class="card__genre">Genre: {{ film.genre }}</p>
        <p class="card__year">Year: {{ film.year }}</p>
      </div>
    </div>
    <app-button
      (buttonClick)="handleClick($event)"
      [variant]="favButtonConfig().variant"
    >
      {{ favButtonConfig().text }}</app-button
    >
  </div>
}
